.app {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
  /* row-gap: 40px; */
}

/* Barra de naveação  */

/* Secção Descrição */
.container-descricao{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
  flex-wrap: wrap;
  width: 100%;
}

.perfil{
  width: 424px; 
  height: 342px;
}

.descricao {
  text-align: left; 
  color: var(--hard-color);
  border: 1px solid red;
  flex-wrap: wrap;
  word-break: break-all;
  width: 50%;
  height: 342px;
}

.descricao h1{
  color: var(--hard-color);
  font-family: Koulen;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 44px;
}

.descricao h3{
  color: var(--primary-color);
  font-family: Roboto;
}

@media (min-width: 320px) and (max-width: 699px ){
  .container-descricao{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .perfil{
    width: 300px; 
    height: 234px;
  }
  
  .descricao {
    text-align: left; 
    color: var(--hard-color);
    width: 100%;
    /* padding-right: 5px; */
  }

  .container-descricao img{
    margin-bottom: 30px;
  }
  
  .descricao h1{
    color: var(--hard-color);
    font-family: Koulen;
    padding-bottom: 0;
    margin: 0;
  }
  
  .descricao h3{
    color: var(--primary-color);
    font-family: Roboto;
  }
}


/* .bolha-left{
  position: absolute;
  left: 0;
}

.bolha-right{
  position: absolute;
  right: 0;
}

.descricao h1{
  font-size: 32px;
  color: black;
} */


/* Secção Sobre Mim */

.sobreMim{
  background: var(--primary-color);
  width: 90%;
  border-radius: 0 80px 80px 0;
  margin-top: 30px;
  padding: 40px 50px 30px 20px;
  display: flex;
  /* height: 580px; */
  justify-content: space-between;
}

.sobreMimText{
  color: var(--background-color);
  padding-right: 50px;
}

.sobreMimText p{
  font-size: 26px;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  word-spacing: 0.2em;
}

.sobreMimText h1{
  color: var(--branco-color);
  padding: 30px 30px 30px 0;
}

.button{
  font-size: 1.2em;
  font-weight: bold;
  word-break: break-all;
  padding: 10px 25px 10px 25px;
  border-radius: 5px;
  color: var(--primary-color);
  background-color: var(--background-color);
  box-shadow: var(--box-shadow-01);
  letter-spacing: 0.05em;
  word-spacing: 0.2em;
  margin-top: 30px;
}

.button:hover{
  background-color: #400B9C;
  color: var(--background-color);
  transform: scale(1.1);
  transition: all 0.4s;
}



/* secção de cards */
.tools{
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  flex-grow: 1;
  padding-block: 50px ;
}

.tools-card{
  border-radius: 12px;
  box-shadow: var(--box-shadow-01);
  background: var(--branco-color);
  line-height: 35px;
  width: 340px;
  height: 460px;
  padding: 20px;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.tools-card h2{
  justify-content: center;
  display: flex;
  padding-bottom: 40px;
}

.tools-card li{
  align-items: center;
  display: flex;
}

.tools-card button{
  bottom: 0;
}

.button-card{
  font-size: 1em;
  font-weight: bold;
  word-break: break-all;
  padding: 10px 25px 10px 25px;
  border-radius: 5px;
  color: var(--branco-color);
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow-01);
  letter-spacing: 0.05em;
  word-spacing: 0.2em;
  margin-top: 30px;
}

.button-card:hover{
  background-color: var(--background-color);
  color: var(--primary-color);
  transform: scale(1.0);
  transition: all 0.3s;
}
