/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  width: 100%;
}
/*
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

:root{
  --primary-color: #8181E6;
  --secondary-color: #C1C1F3;
  --tertiary-color: #9696EA;
  --hard-color: #1C0A70;
  --branco-color: #ffffff;
  --cinza-color: #656568;
  --background-color: #E6E6FA;


  --primary-color-gradient: linear-gradient(to bottom, var(--primary-color), #2D8B59);

  --shadow-black-01: rgba(0,0,0, 0.2);

  --box-shadow-01: 4px 4px 4px var(--shadow-black-01);
  --box-shadow-02: 2px 2px 2px var(--shadow-black-01);

  --text-shadow-01: 4px 4px 4px var(--shadow-black-01);
  --text-shadow-02: 2px 2px 2px var(--shadow-black-01);
  
  --image-shadow-01: drop-shadow(4px 4px 4px var(--shadow-black-01)); /* eh um backdrop-filter */

  --transition-time-01: 0.15s;

  --anim-duration: 0.2s;
}

*{
  margin: 0;
  padding: 0;
  border: none;
}

html{
  background-color: white;
}

/* body{
  max-width: 1500px;
  margin: auto !important;
  box-shadow: var(--box-shadow-02);
  font-family: "Inter", sans-serif;
} */

h1, h2 {
  overflow-wrap: break-word;
  font-family: 'Inknut Antiqua';
}

a{
  color: var(--branco-color);
  text-decoration: none;
}

/* a:hover {
  color: var(--primary-color);
  background-color: var(--branco-color);
  border-radius: 12px;
} */

